* {
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.main-container {
    width: 500px;

    padding: 15px 50px 30px 50px;
}

.tittle-container {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid green;
}

.product-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.product-index {
    text-align: left;
}


.product-name {
    display: inline;
    width: 300px;
    text-align: right;
}

.input-quantity {
    width: 60px;
    text-align: right;
    padding: 5px;

}

.shopping-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: green;
    margin: 10px 0px;
    cursor: pointer;
}


.disabled {
    background-color: red;
    opacity: 50%;
    cursor: default;
}

.subtotal, .vat, .total {
    font-weight: 600;
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

.vat, .total {
    text-transform: uppercase;
}

.total {
    font-size: 20px;
}